<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get All Students</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <a class="btn btn-primary" href="/students">Back</a>
                <br>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h2>Create new students</h2>
                        <form action="">
                            <div class="my-3">
                                <label for="">Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="">Email</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="">Cell</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="">Image</label>
                                <input type="text">
                            </div>
                            <div class="my-3">
                                <button type="submit">Add new</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/js/bootstrap.min.js"></script>
</body>
</html>